<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Arranger</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= require('./ico/apple-touch-icon.png').default %>"
    />
    <link
      rel="icon"
      href="<%= require('./ico/favicon.ico').default %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= require('./ico/favicon-32x32.png').default %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= require('./ico/favicon-16x16.png').default %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="<%= require('./ico/android-chrome-192x192.png').default %>"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="<%= require('./ico/android-chrome-512x512.png').default %>"
    />
    <link rel="manifest" href="<%= require('./ico/site.webmanifest').default %>"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="<%= require('./css/app.css').default %>" />
  </head>

  <body>
    <div id="page"></div>
  </body>
</html>
